<div id="crossfit-app-frame">
  
  <header id="crossfit-app-header">
    <div class="row crossfit-app-header-main-text">
      <div class="col-sm-6 crossfit-app-header-left-panel">
        <div class="pull-right">Crossfit</div>
      </div>
      <div class="col-sm-6 crossfit-app-header-right-panel main-text">
        <div class="pull-left">Alinea</div>
      </div>
    </div>

<!--     <div class="row crossfit-app-header-sub-text text-center">
      Forging Elite Fitness
    </div>
 -->  </header>

 <section id="crossfit-main-img-section">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="crossfit-main-img-frame">

      </div>
    </div>
  </div>
 </section>


</div>
  
