<div class="row header-wrapper">
  <div class="text-center col-xs-offset-1 col-xs-10">
    <h1>Site construction in progress...</h1>
  </div>
</div>

<div class="row content-wrapper">
  <div class="text-center col-xs-offset-1 col-xs-10">
    <h3>Please stop by again soon!</h3>
  </div>
</div>

