<div class="row">
  <div class="col-sm-7 col-sm-offset-1">
    <h1>MyMusicLive.com (mobile)</h1>

    <br>

    <h4>Built on top of the BandsInTown API, this app will use Backbone.js to facilitate user discovery and management of upcoming live shows in their area.</h4>

    <br>

    <h4>I might also handle persistence with Parse... we'll see :)</h4>
  </div>
</div>
