<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <h1>MyMusicLive.com <small>(mobile)</small></h1>

    <br>

    <h4>Built on top of the BandsInTown API, this app will use Backbone.js to facilitate discovery and management of upcoming live shows in your area.</h4>

    <br><hr>
    <%= link_to "home", "#", class: "btn btn-default" %>
    <%= link_to "my artists", "#artists", class: "btn btn-default" %>
    <%= link_to "artist search", "#artist_search", class: "btn btn-default" %>
  </div>

  <div class="col-sm-6">
    <h1 class="muted text-center"><pre>{{ action station }}</pre></h1>

    <br>

    <div id="myMusicLive-action-container"></div>
  </div>
</div>